Поле "Name:" (обязательное)						
Вводить можно только латинских букв						
Специальные символы можно только (_), (.), (')						
Регистронезависимое						
Пробел можно только между словами						
Пробел нельзя в начале и в конце						
Минимальное количество символов 2						
Максимальное количество символов 128						
						
						
Поле "Email:" (необязательное)						
Вводить можно только латинских букв						
Без спец.символа @ нельзя						
Две @@ нельзя						
Регистронезависимое						
Не может начинаться со спец.символа						
Пробел перед Email нельзя						
Минимальное количество символов имени пользователя 2						
Максимальное количество символов имени пользователя 128						
Специальные символы можно только (_), (.), ()						
Максимальное количество символов домена 16						
Минимальное количество символов домена 1						
						
						
Поле "Surname:" (обязательное)						
Вводить можно только латинских букв						
Специальные символы можно только (_), (.), (')						
Регистронезависимое						
Пробел можно только между словами						
Пробел нельзя в начале и в конце						
Минимальное количество символов 2						
Максимальное количество символов 128						
						
						
Поле "Password:" (обязательное)						
Вводить можно только латинских букв						
Вводить минимум одну большую букву						
Вводить минимум один спец.символ						
Вводить минимум одну цифру						
Минимальное количество символов 5						
Максимальное количество символов 32						